@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html{
  height: 100%;
}

body{
  scroll-behavior: smooth;
  margin:0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(223, 220, 220);
  overflow-y: scroll;
}

header{
  height:auto;
  z-index: 999;
  box-shadow: 1px 1px 4px 0 rgba(red, green, blue, alpha);
  width: 100%;
  position: fixed;
  background-color: #fff;
  top:0;
}

.logo{
  float: right;
  margin-right: 5%;
  font-size: 60px;
  color: crimson;

}

li{
  list-style: none;
  margin:0;
  padding: 0;
}
a{
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.nav-mobile{
  max-height: 0;
  clear: both;
  margin: 0;
  padding: 0;
  transition: all 1.5s ease;
  width: 100%;
  transition: max-height .2s ease;
  overflow: hidden;

}
.toggle{
  display: none;
}

.nav-item{
  width: 100%;
  padding-left: 5%;
  text-transform: uppercase;
  transition: all .5s ease;
  background-color: #fff;
}

.nav-item:hover{
  transform: scale(1.05);
  background-color: #ddd;
}

.nav-item a{
color: #000; 
 font-size: 30px;
}

/* HAMBURGER BUTTON */

.hamburger{
  float:left;
  padding: 44px;
  position:relative;
  transition: all .2s ease;
  cursor: pointer;
}

.hamburger span {
  background: #000;
  display: block;
  height:4px;
  width: 25px;
  border-radius: 1rem;
  position:relative;
  transition:background .5s ease;
  
}

.hamburger span::before{
  content: "";
  background: #000;
  display: block;
  height:100%;
  width: 100%;
  border-radius: 1rem;
  top:12px;
  position:absolute;
  transition:all .5s ease;
}
.hamburger span::after{
  content: "";
  background: #000;
  display: block;
  height:100%;
  width: 100%;
  border-radius: 1rem;
  top:-12px;
  position:absolute;
  transition:all .5s ease;
}

/* TOGGLE HAMBURGER BUTTON */

.toggle:checked ~ nav .nav-mobile {
  max-height: 200px;
}

/* ANIMATE button */
.toggle:checked ~ .hamburger span {
  background-color: transparent;
}
.toggle:checked ~ .hamburger span::before {
  transform: rotate(-45deg);
  top:0;
}
.toggle:checked ~ .hamburger span::after {
  top:0;
  transform: rotate(45deg);
}

/* DESKTOP DEVICE NAVIAGTION BAR */

.nav-desktop{
  display: none;
}
.stick-footer {
  min-height: 120px;
  background-color: #222;
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.footer-container{
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto ;
  
}
.sec-container{
  padding:0 40px;
  padding-top: 30px;
}
.sec-container h3{
  color:white;
  margin:0;
  padding-bottom: 16px;
  transition: all .5s ease;
}
.sec-container h3:hover{
  opacity: 0.6;
  transition: all .5s ease;
}




.under-footer{
  margin-top: auto;
  width: 100%;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}
.under-footer span{
  color: crimson;
  font-size: 30px;
}
/* MAIN */
main {
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
}
.homepage .category {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
}
.homepage .category a{
  color:#000;
}
.homepage .category ol{
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.homepage .book{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.homepage .book h3{
  width: auto;
  padding: auto;
  font-size: 20px;
}
.homepage .book img{
  width: 100px;
  background:#fff;
  border-radius: 1rem;
}
h1{
  font-size: 30px;
}
a:hover{
  opacity: 0.8;
}
@media (min-width:768px){
    .footer-container{
      flex-direction: row;
      grid-template-columns: auto auto auto auto auto;
    }
    .homepage .book img{
      width: 150px;
    }
    .homepage .book h3{
      font-size: 20px;
    }
   h1{
    font-size: 35px;
   }
}

@media (min-width: 1280px) {
  .homepage .book img{
    width: 200px;
  }
  .homepage .book h3{
    font-size: 30px;
  }
  .logo{
    float: left;
    margin-left: 5%;
  }
  .hamburger{
    display: none;
  }
  .nav-mobile {
    display: none;
  }
  .nav-desktop{
    
    height: auto;
    display: block;
    width: auto;
    display: flex;
    margin: 0;
    padding:0;
    float: right; 
    align-items: center;
    margin-right: 5%;
  }
  .nav-item-desktop a{
    position: relative;
    display: inline-block;
    margin:20px;
    font-size: 30px;
    color: #000;
    transition: all .2s ease; 
  }
  .nav-item-desktop a::before{
    background: crimson;
    content:"";
    position: absolute;
    height: 3px;
    width:0;
    left:0;
    bottom:0;
    transition: width .25s ease-out;
    border-radius: 5rem;
  }
  .nav-item-desktop a:hover::before{
    width:100%;
    left:0;
    right:auto;
  }

}

.mp0{
  margin: 0;
  padding:0;
  font-size: 50px;
}

