.contact h1{
    text-align: center;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    max-width: 400px;
}
.form-container{
    border-radius: 1rem;
    border:2px solid black;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form-element {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.center{
    display: flex;
    justify-content: center;
}


textarea,input{
    border-radius: 10px;
}
@media (min-width:768px) {
    form{
        display: inline;
    }
    .form-element{
        flex-direction: row;
    }
    .form-element:not(:last-of-type){
        justify-content: space-between;
    }
    #note{
        margin-left: 20px ;
    }
  
  
}